*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 300pxpx;
    width: 150px;
}
body{
    background-color: rgb(39, 39, 39);
   
}
/* h2{
    height: 40px;
}
p{
    height: 100px;
} */